table.questions
{
    padding:0px;
    margin: 0px;
    background: white;
    border-collapse: collapse;
}

td.question
{
    padding:15px;
    border: 27px solid #819FF7;   /*solid white */
    text-align: center;
    background: #CEE3F6;
}

body {
    padding: 30 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background:#819FF7;
}
h1 {
    color: #1f2f49;       /* #618ad2; */
    text-shadow: 2px 2px 0 #cccccc;
}
pre {
    padding: 5px;
    font-size: 14px;
    line-height: 10px;
    background: #dee6f7;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
s1 {
    font-size: 18px;
    color: #FF69B4;
    font-weight: 600;
    border: 4px double black; /* Параметры границы */
    border-ground: solid;
    background: #6A5ACD; 
    padding: 10px;
}
column {
    -webkit-column-width: 30px;
    column-gap: 30px;
    column-count: 2;
}

container {
    Width: 900px;
    Margin-left: auto;
    Margin-right: auto;
}

leftsidebar {
   Float: left;
   Width: 33%;
   Margin-left: auto;
   Margin-right: auto;
}
