*{
  margin: 0;
  padding: 0;
}

tr.pass-parts td {
  font-size: 36px;
  text-align: center;
  }

tr.pass-ex td {
  font-size: 12px;
  text-align: center;
}
#tab11, #tab21 {
  color: red;
  }
#tab12, #tab22 {
  color: blue;
}
#tab13, #tab23{
  color: yellow;
}
#tab14, #tab24{
  color: green;
}
#tab15, #tab25{
  color: purple;
}
#tab16, #tab26{
  color: #cc6600;
}
body {
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: white; 
  font:15px/1.3 'PT Sans', sans-serif;
  color: #5e5b64;
  z-index:0;
}

#main {
  padding: 30px 30px 30px 30px;
}

h1 {
  color: #1f2f49;     
  text-shadow: 2px 2px 0 #cccccc;
  text-align:center;
}

table.questions {
  padding:0px;
  margin: 0px;
  background: white;
  border-collapse: collapse;
}

td.question {
  padding:15px;
  border: 27px solid #819FF7;  
  text-align: center;
  background: #CEE3F6;   
}
pre {
  padding: 0px;
  font-size: 14px;
  line-height: 10px;
  background: #819FF7;  
  border: 2px solid #cccccc;
  border-radius: 3px;
}

#res_window {
  text-align: center; font-size: 150%;
  top: 10px;
  right: 10px;
  width: 100px;
  margin: 35px auto 35px auto;
  padding: 20px;
  background: #aaa;
  border-radius: 5px;
  width: 80%;
  transition: all 5s ease-in-out;
  
  }
#result table {
  width: 100%;
  }
#result tr { width: 100%;}
#result td { width: 13%;}

#footer {
  left: 0; bottom: 0; 
  margin: 0;
  padding: 10px 0 10px 0; 
  background: #666; 
  color: #fff; 
  width: 100%; } 
#footer p {
  padding-left: 15px;
  }